*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-position: inside;
}

body{
    font-size: 16px;
    color: #333333;
    font-family: "Hiragino kaku Gothic ProN", sans-serif;
}


